:root{

--blue-primary: #1b83fa;
--blue-light: #b9dbfa;
--blue-dark: #2d5a8a;
--blue-darker: #1e3a5f;

--gray-light-1: #e9ecef;
--gray-light-2: #dee2e6;

--gray-medium-1: #64748b;
--gray-medium-2: #94a3b8;

--gray-dark-1: #1e293b;
--gray-dark-2: #0f172a;


--success: #10b981;
--danger: #ef4444;
--warning: #f59e0b;

--category-purple: #8b5cf6;
--coin-gold: #fbbf24;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
}