header{

    background-color: white;
    border-bottom: 1px solid var(--gray-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px;
}

.logo-container{
    display: flex;
    justify-content: flex-start;
}

.logo-container img{
    width:100px;
}

h1{
    display: inline-block;
    margin-top: 15px;
    color: var(--gray-dark-1);

}

nav{
    display: inline-block;
}

nav a{
    display: none;
}

.icone-menu{
    width: 30px;
    margin-right: 25px;
}

label:hover~a{
    display:block;
}